<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>VUE14</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<script src="https://unpkg.com/vue@next"></script>
	<style>
    div {
      font-size: 15px;
      color: black;
      margin: 5px;
    }
      h2 {
          color: coral;
      }
      h3 {
          color: gray;
      }
      p1 {
          color: red;
      }
      p {
          color: blue ;
      }
      label {
      margin-right: 0.5rem;
    }
  </style>
</head>

<body>

<div id="app">
	<h2>現代生活型態問卷調查</h2>
	<h3>請輸入基本資料</h3>
	<form>
		性別：
		<input type="radio" id="男" value="男" v-model="gender"><label for="男">男</label>
		<input type="radio" id="女" value="女" v-model="gender"><label for="女">女</label><br>
		姓名： <input v-model="name"><br>
		住址： <input v-model="address"><br>
		手機： <input v-model="phone"><br>
		電子郵件： <input v-model="email"><br>
		生日： <input type="date" v-model="date01"><br>
		身高： <input type="number" v-model="number01"><br>
		體重： <input type="number" v-model="number01"><br>
		<p>是否滿意自己的生活？</p>
		<input type="radio" id="滿意" value="滿意" v-model="yes"><label for="滿意">滿意</label>
		<input type="radio" id="不滿意" value="不滿意" v-model="yes"><label for="不滿意">不滿意</label><br>
		<p>讀的科系或目前工作是否符合自己的期待？</p>
		<input type="radio" id="符合" value="符合" v-model="no"><label for="符合">符合</label>
		<input type="radio" id="不符合" value="不符合" v-model="no"><label for="不符合">不符合</label><br>
		<p>一天平均使用手機的時間為？</p>
		<input type="radio" id="0～3小時" value="0～3小時" v-model="time"><label for="0～3小時">0～3小時</label>
		<input type="radio" id="4～6小時" value="4～6小時" v-model="time"><label for="4～6小時">4～6小時</label>
		<input type="radio" id="7～9小時" value="7～9小時" v-model="time"><label for="7～9小時">7～9小時</label>
		<input type="radio" id="10小時以上" value="10小時以上" v-model="time"><label for="10小時以上">10小時以上</label>
		<br>
		<p>一週平均運動幾天？</p>
		<input type="radio" id="0天" value="0天" v-model="day"><label for="0天">0天</label>
		<input type="radio" id="1～2天" value="1～2天" v-model="day"><label for="1～2天">1～2天</label>
		<input type="radio" id="3天以上" value="3天以上" v-model="day"><label for="3天以上">3天以上</label>
		<br>
		<p>一天平均睡眠時間多長？</p>
		<input type="radio" id="10小時以上" value="10小時以上" v-model="long"><label for="10小時以上">10小時以上</label>
		<input type="radio" id="7～9小時" value="7～9小時" v-model="long"><label for="7～9小時">7～9小時</label>
		<input type="radio" id="4～6小時" value="4～6小時" v-model="long"><label for="4～6小時">4～6小時</label>
		<input type="radio" id="3小時以下" value="3小時以下" v-model="long"><label for="3小時以下">3小時以下</label>
		<br>
		<p>是否會抽菸？</p>
		<input type="radio" id="抽" value="抽" v-model="smoke"><label for="抽">抽</label>
		<input type="radio" id="不抽" value="不抽" v-model="smoke"><label for="不抽">不抽</label>
		<br>
		<p>一週平均喝幾杯手搖飲料？</p>
		<input type="radio" id="0杯" value="0杯" v-model="drink"><label for="0杯">0杯</label>
		<input type="radio" id="1～2杯" value="1～2杯" v-model="drink"><label for="1～2杯">1～2杯</label>
		<input type="radio" id="3杯以上" value="3杯以上" v-model="drink"><label for="3杯以上">3杯以上</label>
		<br>
		<p>三餐主要如何解決？</p>
		<input type="radio" id="自己煮最健康" value="自己煮最健康" v-model="food"><label for="自己煮最健康">自己煮最健康</label>
		<input type="radio" id="叫外送最方便" value="叫外送最方便" v-model="food"><label for="叫外送最方便">叫外送最方便</label>
		<input type="radio" id="打電話外帶" value="打電話外帶" v-model="food"><label for="打電話外帶">打電話外帶</label>
		<br>
		<p>主要通勤交通工具？</p>
		<input type="radio" id="機車" value="機車" v-model="car"><label for="機車">機車</label>
		<input type="radio" id="汽車" value="汽車" v-model="car"><label for="汽車">汽車</label>
		<input type="radio" id="走路" value="走路" v-model="car"><label for="走路">走路</label>
		<input type="radio" id="大眾運輸工具" value="大眾運輸工具" v-model="car"><label for="大眾運輸工具">大眾運輸工具</label>
		<br>
		<p>平常主要通過何種管道得知新聞資訊？（可複選）</p>
		<input type="checkbox" id="搜尋引擎網路" value="搜尋引擎網路" v-model="news"><label for="搜尋引擎網路">搜尋引擎網路</label>
		<input type="checkbox" id="社群媒體" value="社群媒體" v-model="news"><label for="社群媒體">社群媒體</label>
		<input type="checkbox" id="電視" value="電視" v-model="news"><label for="電視">電視</label>
		<input type="checkbox" id="親朋好友" value="親朋好友" v-model="news"><label for="親朋好友">親朋好友</label>
		<input type="checkbox" id="我不看新聞" value="我不看新聞" v-model="news"><label for="我不看新聞">我不看新聞</label><br>
		<p>個人or家庭擁有哪些現代科技產品？（可複選）</p>
		<input type="checkbox" id="手機" value="手機" v-model="phone"><label for="手機">手機</label>
		<input type="checkbox" id="電視" value="電視" v-model="phone"><label for="電視">電視</label>
		<input type="checkbox" id="筆記型電腦" value="筆記型電腦" v-model="phone"><label for="筆記型電腦">筆記型電腦</label>
		<input type="checkbox" id="桌上型電腦" value="桌上型電腦" v-model="phone"><label for="桌上型電腦">桌上型電腦</label>
		<input type="checkbox" id="平板" value="平板" v-model="phone"><label for="平板">平板</label>
		<input type="checkbox" id="遊戲機" value="遊戲機" v-model="phone"><label for="遊戲機">遊戲機</label>
		<input type="checkbox" id="智慧型手錶" value="智慧型手錶" v-model="phone"><label for="智慧型手錶">智慧型手錶</label>
		<input type="checkbox" id="智慧音箱" value="智慧音箱" v-model="phone"><label for="智慧音箱">智慧音箱</label>
		<input type="checkbox" id="功能型機器人" value="功能型機器人" v-model="phone"><label for="功能型機器人">功能型機器人</label>
		<p>空閒時喜歡做些什麼休閒活動？（可複選）</p>
		<input type="checkbox" id="聽音樂" value="聽音樂" v-model="like"><label for="聽音樂">聽音樂</label>
		<input type="checkbox" id="看電影/影片" value="看電影/影片" v-model="like"><label for="看電影/影片">看電影/影片</label>
		<input type="checkbox" id="逛街" value="逛街" v-model="like"><label for="逛街">逛街</label>
		<input type="checkbox" id="參觀展覽" value="參觀展覽" v-model="like"><label for="參觀展覽">參觀展覽</label>
		<input type="checkbox" id="運動" value="運動" v-model="like"><label for="運動">運動</label>
		<input type="checkbox" id="購物" value="購物" v-model="like"><label for="購物">購物</label>
		<input type="checkbox" id="滑手機" value="滑手機" v-model="like"><label for="滑手機">滑手機</label>
		<input type="checkbox" id="打遊戲" value="打遊戲" v-model="like"><label for="打遊戲">打遊戲</label>
		<input type="checkbox" id="睡覺" value="睡覺" v-model="like"><label for="睡覺">睡覺</label>
		<input type="checkbox" id="閱讀" value="閱讀" v-model="like"><label for="閱讀">閱讀</label>
		<input type="checkbox" id="吃美食" value="吃美食" v-model="like"><label for="吃美食">吃美食</label>
		<input type="checkbox" id="旅遊" value="旅遊" v-model="like"><label for="旅遊">旅遊</label>
		<input type="checkbox" id="與親朋好友共度時光" value="與親朋好友共度時光" v-model="like"><label for="與親朋好友共度時光">與親朋好友共度時光</label>
		<br>
		<h3><button><p1>提交</p1></button></h3>
</div>
<script>
    const vm = Vue.createApp({
      data() {
        return {
            gender:"",
            yes:"",
            no:"",
            time:"",
            day:"",
            long:"",
            smoke:"",
            drink:"",
            food:"",
            car:"",
            news:[],
            phone:[],
            like:[],
        }
      }
    });


    vm.mount('#app');

  </script>
</body>
</html>