<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Shopping cart</title>
<script src="https://unpkg.com/vue@next"></script>
<style>
    h2 {
      color: orange;
    }
    h3 {
      color: gray;
      font-weight: bold;
    }
    h4 {
      color: green;
      font-weight: bold;
    }
    p {
      color: brown;
      font-weight: bold;
    }
    span {
      color: blue;
      font-weight: bold;
    }
  </style>
</head>
<body>
<div id="shopping">
	<h2>GOGOEAT!美食購物網</h2>
	<h3>請輸入以下資訊</h3>
	<form>
		姓名: <input v-model="name"><br>
		住址: <input v-model="address"><br>
		手機: <input v-model="phone"><br>
		電子郵件: <input v-model="email"><br>
		指定送貨日期: <input type="date" v-model="date01"><br>
		義美杏仁巧克力酥片(280g) 122元，購買數量: <input type="number" v-model="number01"><br>
		孔雀咖啡捲心餅量販盒(189g) 82元，購買數量: <input type="number" v-model="number02"><br>
		萬歲牌-杏仁小魚(270g/罐) 297元，購買數量: <input type="number" v-model="number03"><br>
		義美小泡芙(171g) 79元，購買數量: <input type="number" v-model="number04"><br>
		福義軒-手工芝麻蛋捲(500g) 285元，購買數量: <input type="number" v-model="number05"><br>
		地瓜酥(240g) 120元，購買數量: <input type="number" v-model="number06"><br>
	</form>
	<shopping_cart :my-name="name"
				   :my-address="address"
				   :my-phone="phone"
				   :my-email="email"
				   :my-date="date01"
				   :my-no01="number01"
				   :my-no02="number02"
				   :my-no03="number03"
				   :my-no04="number04"
				   :my-no05="number05"
				   :my-no06="number06"
	>
	</shopping_cart>
</div>

<script>
  const App = {
    data() {
      return {
        name: '劉沛綾',
        address: '新北市中和區橋和路160巷9號10樓',
        phone: '0958871066',
        email: 'peggy5468053@gmail.com',
        date01: '',
        number01: 0,
        number02: 0,
        number03: 0,
        number04: 0,
        number05: 0,
        number06: 0
      }
    }
  }

  const app = Vue.createApp(App)

  app.component('shopping_cart', {
    props: ['myName','myAddress','myPhone','myEmail', 'myDate', 'myNo01', 'myNo02', 'myNo03', 'myNo04', 'myNo05', 'myNo06' ],
    methods: {
      subtotal: function(price){
        switch(price){
          case 122:return price * this.myNo01;break;
          case 82:return price * this.myNo02;break;
          case 297:return price * this.myNo03;break;
          case 79:return price * this.myNo04;break;
          case 285:return price * this.myNo05;break;
          case 120:return price * this.myNo06;break;
        }
      },
      totalAmount:function(){
        return this.subtotal(122) + this.subtotal(82) + this.subtotal(297) + this.subtotal(79) + this.subtotal(285) + this.subtotal(120);
      }
    },
    template: '<div><h4>您的購物車資訊如下:</h4>' +
            '<p>姓名: {{ myName }} 先生/女士<br>' +
            '住址: {{myAddress}}<br>' +
            '手機: {{myPhone}}<br>' +
            '電子郵件: {{myEmail}}<br>' +
            '預定交貨日期: {{myDate}}<br>' +
            '義美杏仁巧克力酥片(1盒/122元)共 {{myNo01}}單位，金額小計{{subtotal(122)}}元<br>' +
            '孔雀咖啡捲心餅量販盒(1盒/82元)共 {{myNo02}}單位，金額小計{{subtotal(82)}}元<br>' +
            '萬歲牌-杏仁小魚(1罐/297元)共 {{myNo03}}單位，金額小計{{subtotal(297)}}元<br>' +
            '義美小泡芙(1包/79元)共 {{myNo04}}單位，金額小計{{subtotal(79)}}元<br>' +
            '福義軒-手工芝麻蛋捲(1包/285元)共 {{myNo05}}單位，金額小計{{subtotal(285)}}元<br>' +
            '地瓜酥(1包/120元)共 {{myNo06}}單位，金額小計{{subtotal(120)}}元<br>' +
            '<h4>金額總計為 {{totalAmount()}}元</h4></div>'
  })
  app.mount('#shopping')
</script>

</body>
</html>