<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8">
	<title>vue04</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<script src="https://unpkg.com/vue@next"></script>
	<style>
        p {
            color:brown;
        }
        h2 {
            color: coral;
            font-weight:bold;
            font-size:20px;
        }

        div {
            color: gray;
            margin: 5px;
        }
        span {
            color:black;
            font-weight:bold;
        }
    </style>

</head>

<body>

<div id="app">
	<form id="form01">
		姓名: <input v-model="message01" type="text" name="name01" value="劉沛綾"><br>
		收件住址: <input v-model="message02" type="text" name="address01" value="新北市中和區橋和路160巷9號10樓"><br>
		電話: <input v-model="message03" type="tel" name="tel01" value="0958871066"><br>
		電子郵件: <input v-model="message04" type="email" name="email01" value="peggy5468053@gmail.com"><br>
		指定送貨日期: <input v-model="message05" type="date" name="date01"><br>
		零食種類: <br><input v-model="message06" type="radio" name="snack" id="snack01" value="義美杏仁巧克力酥片(280g)">義美杏仁巧克力酥片(280g) 122元<br>
		<input v-model="message06" type="radio" name="snack" id="snack02" value="孔雀咖啡捲心餅量販盒(189g)">孔雀咖啡捲心餅量販盒(189g) 82元<br>
		<input v-model="message06" type="radio" name="snack" id="snack03" value="萬歲牌-杏仁小魚(270g/罐)">萬歲牌-杏仁小魚(270g/罐) 297元<br>
		<input v-model="message06" type="radio" name="snack" id="snack04" value="義美小泡芙(171g)">義美小泡芙(171g) 79元<br>
		<input v-model="message06" type="radio" name="snack" id="snack05" value="福義軒-手工芝麻蛋捲(500g)">福義軒-手工芝麻蛋捲(500g) 285元<br>
		<input v-model="message06" type="radio" name="snack" id="snack06" value="地瓜酥(240g)">地瓜酥(240g) 120元<br>
	</form>
	<h2 >您所輸入的資訊如下:</h2>
	<p>姓名: <span>{{ message01 }}</span></p>
	<p>收件住址: <span>{{ message02 }}</span></p>
	<p>電話: <span> {{ message03 }}</span></p>
	<p>電子郵件: <span> {{ message04 }}</span></p>
	<p>指定送貨日期: <span>{{ message05 }}</span></p>
	<p>零食種類: <span> {{ message06 }}</span></p>

</div>

<script>
    // Vue 3.0 with options-base style
    const vm = Vue.createApp({
        data() {
            return {
                message01: '',
                message02: '',
                message03: '',
                message04: '',
                message05: '',
                message06: ''
            }
        }
    });

    // mount
    vm.mount('#app');
</script>

</body>

</html>
