<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue15</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<style>
		h2 {
		    color: darkseagreen;
		}
		div {
		    color: gray;
	    }
	</style>
</head>
<body>

<div id="root">
	<h2>代辦事項</h2>
	<input v-model="work"/>
	<button @click="handleSubmit">加入</button>
	<div>{{work}}</div>
	<ul>
		<todo-item v-for="(item,index) of list"
				   :key="index"
				   :content="item"
				   :index="index"
				   @delete="handleDelete"
		>
		</todo-item>
	</ul>
	<div>(點擊一下即可刪除)</div>
</div>
<script>
        Vue.component('todo-item',{
            props: ['content','index'],
            template: '<li @click="handleClick">{{content}}</li>',
            methods: {
                handleClick: function() {
                    this.$emit('delete', this.index)
                }
            }
        })
        new Vue({
            el: "#root",
            data: {
                work: '',
                list: []
            },
            methods: {
                handleSubmit: function() {
                     this.list.push(this.work)
                     this.work = ''
                },
                handleDelete: function(index) {
                    this.list.splice(index,1)
                }
            }
        })
      </script>
</body>
</html>

