<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>日期選擇器</title>

	<script src="//vuejs.org/js/vue.min.js"></script>

	<link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css" rel="external nofollow" >

	<script src="//unpkg.com/iview/dist/iview.min.js"></script>
</head>
<body>
<div id="app">
	<template>
		<Row>
			<Col span="12"> 開始時間:
			<date-picker type="datetime" v-model="startTime" placeholder="請選擇開始時間" :options="startTimeOption" @on-change="onStartTimeChange"></date-picker>
			</Col>
			<Col span="12"> 結束時間:
			<date-picker type="datetime" v-model="endTime" placeholder="請選擇結束時間" :options="endTimeOption" @on-change="onEndTimeChange"></date-picker>
			</Col>
		</Row>
	</template>
</div>
<script>
 new Vue({
 el: '#app',
 data() {
 return {
  startTime: '',
  endTime: '2018-08-11 23:59:59',
  startTimeOption: {},
  endTimeOption: {}
 }
 },
 mounted() {
 this.startTime = '2018-08-08 00:00:00'
 this.endTime = '2018-08-11 23:59:59'
 this.onStartTimeChange(this.startTime)
 this.onEndTimeChange(this.endTime)
 },
 methods: {

 onStartTimeChange(startTime, type) {
  this.endTimeOption = {
  disabledDate(endTime) {
  return endTime < new Date(startTime) || endTime > Date.now()
  }
  }
 },

 onEndTimeChange(endTime, type) {
  this.startTimeOption = {
  disabledDate(startTime) {
  return startTime > new Date(endTime) || startTime > Date.now()
  }
  }
 }
 }
 })
 </script>
</body>
</html>