<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<script src="https://unpkg.com/vue@next"></script>
	<title>vue11</title>
	<style>
        h1{
        font-size: 35px;
        color: green;
        margin: 10px;
        }
        p{
        color: gray;
        font-size: 30px;
        margin: 10px;
        }
        div {
        font-size: 25px;
        margin: 10px;
        }
    </style>
</head>
<body>
<div id="app">
	<h1>匯率轉換</h1>
	<p>1日幣＝0.25新台幣</p>
	<P>1韓元＝0.0265</P>
	<p>1美金＝28.28新台幣</p>
	<p>1英鎊＝39.66新台幣</p>
	<p>1歐元＝33.6新台幣</p>
	<p>1人民幣＝4.38新台幣</p>
	<div>台幣：<input type="text" v-model='twd'></div>
	<div>日幣：<input type="text" v-model='JPY'></div>
	<div>韓元：<input type="text" v-model='KRW'></div>
	<div>美金：<input type="text" v-model='USD'></div>
	<div>英鎊：<input type="text" v-model='GBP'></div>
	<div>歐元：<input type="text" v-model='EUR'></div>
	<div>人民幣：<input type="text" v-model='CNY'></div>
</div>

<script>
        const vm = Vue.createApp({
            data() {
                return {
                    twd : 0.25,
                }
            },
            computed: {
                JPY:{
                    get(){
                        return Number.parseFloat(Number(this.twd)/0.25).toFixed(3);
                    },
                    set(val){
                        this.twd = Number.parseFloat(Number(val)*0.25).toFixed(3);
                    }
                },
                KRW:{
                    get(){
                        return Number.parseFloat(Number(this.twd)/0.0265).toFixed(3);
                    },
                    set(val){
                        this.twd = Number.parseFloat(Number(val)*0.0265).toFixed(3);
                    }
                },
                USD:{
                    get(){
                        return Number.parseFloat(Number(this.twd)/28.28).toFixed(3)
                    },
                    set(val){
                        this.twd = Number.parseFloat(Number(val)*28.28).toFixed(3)
                    }
                },
                GBP:{
                    get(){
                        return Number.parseFloat(Number(this.twd)/39.66).toFixed(3)
                    },
                    set(val){
                        this.twd = Number.parseFloat(Number(val)*39.66).toFixed(3)
                    }
                },
                EUR:{
                    get(){
                        return Number.parseFloat(Number(this.twd)/33.6).toFixed(3)
                    },
                    set(val){
                        this.twd = Number.parseFloat(Number(val)*33.6).toFixed(3)
                    }
                },
                CNY:{
                    get(){
                        return Number.parseFloat(Number(this.twd)/4.38).toFixed(3)
                    },
                    set(val){
                        this.twd = Number.parseFloat(Number(val)*4.38).toFixed(3)
                    }
                }
             },
        }).mount('#app')
    </script>
</body>
</html>